.card {
    border-radius: 0px;
    background: rgba(255, 255, 255, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}

h4, h6, p {
    text-align: center;
}

.profileName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.titles{
    text-decoration: underline;
}

#avatar {
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(187, 186, 186, 0.3)
}

fa-icon {
    margin-right: 5px;
}