.container-fluid {
    margin: 100px auto 100px auto;
}

#searchDiv {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 0px;
}

.wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.wrapper input { 
    text-indent: 3rem;
}
.wrapper #searchIcon { 
  position: absolute;
  top: 1.5px;
  left: 8px;
  max-width: 40px;
}

#searchBar{
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    height: 42px;
    margin-top: 20px;
}

#errorDiv {
    margin-top: 3px;
    border-radius: 25px;
}

#submitBtn {
    display: block;
    margin: 10px auto 20px auto;
    border-radius: 5px;
}