.container-fluid {
    margin: 100px auto 100px auto;
}

#searchDiv {
    text-align: center;
}

h1 {
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 0px;
}

#searchBar{
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    height: 40px;
    margin-top: 20px;
    background-image: url("~src/assets/img/search.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    background-size: 30px;
    padding-left: 4rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
}

#errorDiv {
    margin-top: 3px;
    border-radius: 25px;
}

#submitBtn {
    display: block;
    margin: 10px auto 20px auto;
    border-radius: 5px;
}